<!-- templates/home.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body>
    <h1>Welcome to the Student Information Manager</h1>
    <p>Please choose one of the options below:</p>


    <a href="/add_information">
        <button style="padding: 10px 20px;">Enter Information</button>
    </a><br><br>


    <a href="/search_information">
        <button style="padding: 10px 20px;">Search Information</button>
    </a>
</body>

</html>